
<ul class="container-list">
  <mat-accordion *ngIf="byIngredientsService.getRecipesWithMissingIngredients().length > 0">
    <mat-expansion-panel id="exampleCocktail" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Name des Cocktails</span>
          <span style="opacity: 0.7">(fehlend)|(insgesamt): fehlende Zutaten </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div style="margin-bottom: 10px"></div>

  <ng-container *ngFor="let recipeWithMissingIngredients of byIngredientsService.getRecipesWithMissingIngredients()">
    <mat-accordion >
      <mat-expansion-panel hideToggle class="example-card; recipes">
        <mat-expansion-panel-header >
          <mat-panel-title >
            <span>{{recipeWithMissingIngredients.cocktail}}</span>
            <span *ngIf="recipeWithMissingIngredients.missingIngredients.length > 0"
                  style="opacity:0.7">({{recipeWithMissingIngredients.missingIngredients.length}}|{{recipeWithMissingIngredients.ingredients.length}}):
              <ng-container
                *ngFor="let missingIngredients of recipeWithMissingIngredients.missingIngredients">
                  {{missingIngredients.name}}<ng-container
                  *ngIf="missingIngredients !== recipeWithMissingIngredients.missingIngredients[recipeWithMissingIngredients.missingIngredients.length - 1]">,
                </ng-container>
            </ng-container>
            </span>
          </mat-panel-title>
          <!--          <mat-panel-description>
                    </mat-panel-description>-->
        </mat-expansion-panel-header>
        <div style="margin-top:5px"></div>
        Rezept:
        <ul>
          <ng-container *ngFor="let ingredient of recipeWithMissingIngredients.ingredients">
            <li>{{ingredient.amount}} {{ingredient.name}}</li>
          </ng-container>
        </ul>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </mat-accordion>
<!--    <div class="example-card"></div>-->

  </ng-container>
</ul>


