<!--<div class="infobox1">
  <div>1) Zutaten auswählen</div>
  <div>2) Cocktails mit ähnlichen Zutaten werden ermittelt
  </div>
</div>-->

<form [formGroup]="formGroup">
  <ul>
    <mat-menu>Welche Zutaten hast du bereits zu Hause?</mat-menu>
    <div *ngFor="let ingredientForm of ingredientsFormArray.ingredients.controls">
      <ng-container *ngIf="ingredientForm.value === 'Sprudelwasser' || ingredientForm.value === 'Rohrzucker (braun)' || ingredientForm.value === 'Eiswürfel' ; then defaultChecked; else defaultUnchecked">
      </ng-container>
      <ng-template #defaultChecked>
        <mat-checkbox *ngIf="ingredientForm.value != null" type="checkbox" [value]="ingredientForm.value"
                      (click)="onCheckboxChange($event)" checked="true">{{ingredientForm.value}}</mat-checkbox>
      </ng-template>
      <ng-template #defaultUnchecked>
        <mat-checkbox *ngIf="ingredientForm.value != null" type="checkbox" [value]="ingredientForm.value"
                      (click)="onCheckboxChange($event)" checked="false">{{ingredientForm.value}}</mat-checkbox>
      </ng-template>
    </div>
  </ul>
</form>


