.infobox1 {
  background-color: rgba(229, 229, 229, 0.5);
  color: black;
  padding: 10px;
  height: auto;
}

@media (min-width: 480px) {
  .infobox1 {
    /*border-radius: 10px;*/
    font-size: 12px;
    border: 2px solid #ffffff;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .infobox1 {
    max-width: 480px;
    font-size: 12px;
  }
  ul {
    overflow: auto;
    max-height: 100vmin;
  }
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-icon-color: #11930d;
}

/*
::ng-deep .mat-mdc-tab-body-wrapper {
  display: contents;
}
*/
